@page "/artists/details"
@using Microsoft.EntityFrameworkCore
@using Museek.Domain
@inject IDbContextFactory<Museek.Data.MuseekContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

@if (artist is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <img src="@artist.Profile_Pic" width="120" class="mb-3" />

    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@artist.Name</dd>

        <dt class="col-sm-2">Bio</dt>
        <dd class="col-sm-10">@artist.Bio</dd>

        <dt class="col-sm-2">Country</dt>
        <dd class="col-sm-10">@artist.Country</dd>
    </dl>

    <div>
        <a href="@($"/artists/edit?id={artist.Id}")">Edit</a> |
        <a href="/artists">Back to List</a>
    </div>
}

@code {
    private Artist? artist;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        artist = await context.Artist.FirstOrDefaultAsync(a => a.Id == Id);

        if (artist is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
