@page "/artistsongs/details"
@using Microsoft.EntityFrameworkCore
@using Museek.Domain
@inject IDbContextFactory<Museek.Data.MuseekContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>ArtistSong</h2>
    <hr />
    @if (artistsong is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ArtistId</dt>
            <dd class="col-sm-10">@artistsong.ArtistId</dd>
            <dt class="col-sm-2">SongId</dt>
            <dd class="col-sm-10">@artistsong.SongId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@artistsong.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@artistsong.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@artistsong.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@artistsong.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/artistsongs/edit?id={artistsong.Id}")">Edit</a> |
            <a href="@($"/artistsongs")">Back to List</a>
        </div>
    }
</div>

@code {
    private ArtistSong? artistsong;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        artistsong = await context.ArtistSong.FirstOrDefaultAsync(m => m.Id == Id);

        if (artistsong is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
