@page "/admins/details"
@using Microsoft.EntityFrameworkCore
@using Museek.Domain
@inject IDbContextFactory<Museek.Data.MuseekContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Admin</h2>
    <hr />
    @if (admin is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@admin.Name</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@admin.Email</dd>
            <dt class="col-sm-2">Password</dt>
            <dd class="col-sm-10">@admin.Password</dd>
            <dt class="col-sm-2">Role</dt>
            <dd class="col-sm-10">@admin.Role</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@admin.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@admin.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@admin.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@admin.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/admins/edit?id={admin.Id}")">Edit</a> |
            <a href="@($"/admins")">Back to List</a>
        </div>
    }
</div>

@code {
    private Admin? admin;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        admin = await context.Admin.FirstOrDefaultAsync(m => m.Id == Id);

        if (admin is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
